In [155]:
#!/usr/bin/env python
# coding: utf-8


#Importation des données
from sqlalchemy import create_engine 
import pandas as pd


# Etablir la connection entre python et mysql
engine = create_engine("mysql+pymysql://hachem:tigertiger@localhost/ACCIDENT")

def chargement_vehicule(link, table):
    """
    chargment des tables dans la base de donnée ACCIDENT
    """
    print("Lecture des données")
    csize = 60000
    #liste = ['Num_Acc','id_vehicule','num_veh','senc','catv','obs','obsm','choc','manv'
    #         ,'motor']
    liste = ["Num_Acc", "Sens_de_circulation" , "Categorie_du_vehicule" , 
            "Nombre_occupants_TC", "Obstacle_fixe_heurte", "Obstacle_mobile_heurte", 
            "Choc" , "Maneuvre_avant_acc", "Num_Veh"]
    df = pd.read_csv(link, sep= ';', chunksize = csize,  skiprows = 1 
                     , header = None, encoding='latin-1', names = liste)
    print("Données lu")
    i = csize
    for chunk in df:
        chunk.to_sql(table, con = engine, if_exists='append', index = False)
        i += csize
        print(i)
    return print("fin")

chargement_vehicule("donneebrute/vehicules_2020.csv", "VEHICULES_2020")
chargement_vehicule("donneebrute/vehicules_2019.csv", "VEHICULES_2019")
chargement_vehicule("donneebrute/vehicules_2018.csv", "VEHICULES_2018")
chargement_vehicule("donneebrute/vehicules_2017.csv", "VEHICULES_2017")
chargement_vehicule("donneebrute/vehicules_2016.csv", "VEHICULES_2016")
chargement_vehicule("donneebrute/vehicules_2015.csv", "VEHICULES_2015")
chargement_vehicule("donneebrute/vehicules_2014.csv", "VEHICULES_2014")
chargement_vehicule("donneebrute/vehicules_2013.csv", "VEHICULES_2013")
chargement_vehicule("donneebrute/vehicules_2012.csv", "VEHICULES_2012")
chargement_vehicule("donneebrute/vehicules_2011.csv", "VEHICULES_2011")
chargement_vehicule("donneebrute/vehicules_2010.csv", "VEHICULES_2010")
chargement_vehicule("donneebrute/vehicules_2009.csv", "VEHICULES_2009")
chargement_vehicule("donneebrute/vehicules_2008.csv", "VEHICULES_2008")
chargement_vehicule("donneebrute/vehicules_2007.csv", "VEHICULES_2007")
chargement_vehicule("donneebrute/vehicules_2006.csv", "VEHICULES_2006")
chargement_vehicule("donneebrute/vehicules_2005.csv", "VEHICULES_2005")

Lecture des données
Données lu
120000
180000
fin
Lecture des données
Données lu
120000
180000
fin

In [174]:
# Etablir la connection entre python et mysql
from sqlalchemy import create_engine 
import pandas as pd


engine = create_engine("mysql+pymysql://hachem:tigertiger@localhost/ACCIDENT")

def chargement_usager(link, table):
    """
    chargment des tables dans la base de donnée ACCIDENT
    """
    print("Lecture des données")
    csize = 60000
    liste = ["Num_Acc", "place", "Categorie", "Grav", "Sexe", "Trajet", "Secu", "Localisation_du_pieton", "Action_du_pieton", "Etat_pieton", "Annee_naissance" , "Num_Veh"]
    df = pd.read_csv(link, sep= ',', chunksize = csize,  skiprows = 1 , header = None, encoding='latin-1', names = liste)
    print("Données lu")
    i = csize
    for chunk in df:
        chunk.to_sql(table, con = engine, if_exists='append', index = False)
        i += csize
        print(i)
    return print("fin")

#chargement_usager("donneebrute/usagers_2020.csv", "USAGERS_2020")
#chargement_usager("donneebrute/usagers_2019.csv", "USAGERS_2019")
chargement_usager("donneebrute/usagers_2018.csv", "USAGERS_2018")
chargement_usager("donneebrute/usagers_2017.csv", "USAGERS_2017")
chargement_usager("donneebrute/usagers_2016.csv", "USAGERS_2016")
chargement_usager("donneebrute/usagers_2015.csv", "USAGERS_2015")
chargement_usager("donneebrute/usagers_2014.csv", "USAGERS_2014")
chargement_usager("donneebrute/usagers_2013.csv", "USAGERS_2013")
chargement_usager("donneebrute/usagers_2012.csv", "USAGERS_2012")
chargement_usager("donneebrute/usagers_2011.csv", "USAGERS_2011")
chargement_usager("donneebrute/usagers_2010.csv", "USAGERS_2010")
chargement_usager("donneebrute/usagers_2009.csv", "USAGERS_2009")
chargement_usager("donneebrute/usagers_2008.csv", "USAGERS_2008")
chargement_usager("donneebrute/usagers_2007.csv", "USAGERS_2007")
chargement_usager("donneebrute/usagers_2006.csv", "USAGERS_2006")
chargement_usager("donneebrute/usagers_2005.csv", "USAGERS_2005")

Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
300000
fin
Lecture des données
Données lu
120000
180000
240000
300000
fin
Lecture des données
Données lu
120000
180000
240000
300000
fin

In [192]:
# Etablir la connection entre python et mysql
engine = create_engine("mysql+pymysql://hachem:tigertiger@localhost/ACCIDENT")


def chargement_lieu(link, table):
    """
    chargment des tables dans la base de donnée ACCIDENT
    """
    print("Lecture des données")
    csize = 60000
    liste = ["Num_Acc", "Categorie_de_route", "Voie", "V1", "V2", "Regime_de_circulation", "Nombre_total_de_voies", "Numero_du_PR_de_rattachement", "Distance_en_metres_au_PR", "Vosp", "Profil", "Plan", "Largeur_du_terre_plein_central", "Larrout", "Surface", "Infrastructure", "Situation", "Point_ecole"]
    df = pd.read_csv(link,sep= ',', chunksize = csize,  skiprows = 1 , header = None, encoding='latin-1', names = liste)
    print("Données lu")
    i = csize
    for chunk in df:
        chunk.to_sql(table, con = engine, if_exists='append', index = False)
        i += csize
        print(i)
    return print("fin")

#chargement_lieu("donneebrute/lieux_2020.csv", "LIEUX_2020")
#chargement_lieu("donneebrute/lieux_2019.csv", "LIEUX_2019")
chargement_lieu("donneebrute/lieux_2018.csv", "LIEUX_2018")
chargement_lieu("donneebrute/lieux_2017.csv", "LIEUX_2017")
chargement_lieu("donneebrute/lieux_2016.csv", "LIEUX_2016")
chargement_lieu("donneebrute/lieux_2015.csv", "LIEUX_2015")
chargement_lieu("donneebrute/lieux_2014.csv", "LIEUX_2014")
chargement_lieu("donneebrute/lieux_2013.csv", "LIEUX_2013")
chargement_lieu("donneebrute/lieux_2012.csv", "LIEUX_2012")
chargement_lieu("donneebrute/lieux_2011.csv", "LIEUX_2011")
chargement_lieu("donneebrute/lieux_2010.csv", "LIEUX_2010")
chargement_lieu("donneebrute/lieux_2009.csv", "LIEUX_2009")
chargement_lieu("donneebrute/lieux_2008.csv", "LIEUX_2008")
chargement_lieu("donneebrute/lieux_2007.csv", "LIEUX_2007")
chargement_lieu("donneebrute/lieux_2006.csv", "LIEUX_2006")
chargement_lieu("donneebrute/lieux_2005.csv", "LIEUX_2005")

Lecture des données
Données lu

/opt/anaconda3/envs/machinelearning/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

120000
fin
Lecture des données
Données lu
120000
180000
fin
Lecture des données
Données lu
120000
fin
Lecture des données
Données lu
120000
fin
Lecture des données
Données lu
120000
fin
Lecture des données
Données lu
120000
fin
Lecture des données
Données lu
120000
180000
fin
Lecture des données
Données lu
120000
180000
fin
Lecture des données
Données lu
120000
180000
fin
Lecture des données
Données lu
120000
180000
fin
Lecture des données
Données lu
120000
180000
fin
Lecture des données
Données lu
120000
180000
fin
Lecture des données
Données lu
120000
180000
fin
Lecture des données
Données lu
120000
180000
fin

In [11]:
## Etablir la connection entre python et mysql
from sqlalchemy import create_engine 
import pandas as pd
engine = create_engine("mysql+pymysql://hachem:tigertiger@localhost/ACCIDENT")

def chargement_caracteristique(link, table):
    """
    chargment des tables dans la base de donnée ACCIDENT
    """
    print("Lecture des données")
    csize = 60000
    liste = ["Num_Acc", "Annee", "Mois", "Jour", "heure_minute", "Lumiere", 
             "Localisation", "Intersection", "Conditions_atmospheriques", 
             "Type_de_collision", "Commune", "Adresse", "Gps", "Latitude", "Longitude",
             "Departement"]
    df = pd.read_csv(link, chunksize = csize, skiprows = 1 , header = None
                     , sep= ','
                     ,  encoding='latin-1', names = liste)
    print("Données lu")
    i = csize
    for chunk in df:
        chunk.to_sql(table, con = engine, if_exists='append', index = False)
        i += csize
        print(i)
    return print("fin")


#chargement_caracteristique("donneebrute/caracteristiques_2020.csv", "CARACTERISTIQUE_2020")
#chargement_caracteristique("donneebrute/caracteristiques_2019.csv", "CARACTERISTIQUE_2019")
#chargement_caracteristique("donneebrute/caracteristiques_2018.csv", "CARACTERISTIQUE_2018")
#chargement_caracteristique("donneebrute/caracteristiques_2017.csv", "CARACTERISTIQUE_2017")
#chargement_caracteristique("donneebrute/caracteristiques_2016.csv", "CARACTERISTIQUE_2016")
#chargement_caracteristique("donneebrute/caracteristiques_2015.csv", "CARACTERISTIQUE_2015")
#chargement_caracteristique("donneebrute/caracteristiques_2014.csv", "CARACTERISTIQUE_2014")
#chargement_caracteristique("donneebrute/caracteristiques_2013.csv", "CARACTERISTIQUE_2013")
#chargement_caracteristique("donneebrute/caracteristiques_2012.csv", "CARACTERISTIQUE_2012")
#chargement_caracteristique("donneebrute/caracteristiques_2011.csv", "CARACTERISTIQUE_2011")
#chargement_caracteristique("donneebrute/caracteristiques_2010.csv", "CARACTERISTIQUE_2010")
#chargement_caracteristique("donneebrute/caracteristiques_2009.csv", "CARACTERISTIQUE_2009")
#chargement_caracteristique("donneebrute/caracteristiques_2008.csv", "CARACTERISTIQUE_2008")
chargement_caracteristique("donneebrute/caracteristiques_2007.csv", "CARACTERISTIQUE_2007")
chargement_caracteristique("donneebrute/caracteristiques_2006.csv", "CARACTERISTIQUE_2006")
chargement_caracteristique("donneebrute/caracteristiques_2005.csv", "CARACTERISTIQUE_2005")

Lecture des données
Données lu
120000
180000
fin
Lecture des données
Données lu
120000
180000
fin
Lecture des données
Données lu
120000
180000
fin

In [134]:
from sqlalchemy import create_engine 
import pandas as pd
engine = create_engine("mysql+pymysql://hachem:tigertiger@localhost/ACCIDENT")
def chargement_occupe(link, table):
    """
    chargment des tables dans la base de donnée ACCIDENT
    """
    print("Lecture des données")
    csize = 60000
    liste = ["Num_Acc_V", "Num_Acc_U"]
    df = pd.read_csv(link, chunksize = csize, skiprows = 1 , header = None
                     , sep= ','
                     #, sep = '\t'
                     ,  encoding='latin-1', names = liste)
    print("Données lu")
    i = csize
    for chunk in df:
        chunk.to_sql(table, con = engine, if_exists='append', index = False)
        i += csize
        print(i)
    return print("fin")
chargement_occupe('donneebrute/occupe_2017.csv', "OCCUPE_2020")
chargement_occupe('donneebrute/occupe_2017.csv', "OCCUPE_2019")
chargement_occupe('donneebrute/occupe_2017.csv', "OCCUPE_2018")
chargement_occupe('donneebrute/occupe_2017.csv', "OCCUPE_2017")
chargement_occupe('donneebrute/occupe_2016.csv', "OCCUPE_2016")
chargement_occupe('donneebrute/occupe_2015.csv', "OCCUPE_2015")
chargement_occupe('donneebrute/occupe_2014.csv', "OCCUPE_2014")
chargement_occupe('donneebrute/occupe_2013.csv', "OCCUPE_2013")
chargement_occupe('donneebrute/occupe_2012.csv', "OCCUPE_2012")
chargement_occupe('donneebrute/occupe_2011.csv', "OCCUPE_2011")
chargement_occupe('donneebrute/occupe_2010.csv', "OCCUPE_2010")
chargement_occupe('donneebrute/occupe_2009.csv', "OCCUPE_2009")
chargement_occupe('donneebrute/occupe_2008.csv', "OCCUPE_2008")
chargement_occupe('donneebrute/occupe_2007.csv', "OCCUPE_2007")
chargement_occupe('donneebrute/occupe_2006.csv', "OCCUPE_2006")
chargement_occupe('donneebrute/occupe_2005.csv', "OCCUPE_2005")

Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
fin
Lecture des données
Données lu
120000
180000
240000
300000
fin
Lecture des données
Données lu
120000
180000
240000
300000
fin
Lecture des données
Données lu
120000
180000
240000
300000
fin

In [125]:
import pandas as pd
link1 = pd.read_csv('donneebrute/usagers_2011.csv', sep  = ',')
link1 = link1.rename(columns= {'Num_Acc':'Num_Acc_U'})
link1 = link1['Num_Acc_U']
link1 = link1.to_frame()
link1

           Num_Acc_U
0       201100000001
1       201100000001
2       201100000002
3       201100000002
4       201100000003
...              ...
148538  201100066973
148539  201100066973
148540  201100066974
148541  201100066974
148542  201100066974

[148543 rows x 1 columns]

In [126]:
link2 = pd.read_csv('donneebrute/vehicules_2011.csv', sep = ',')
link2 = link2.rename(columns= {'Num_Acc':'Num_Acc_V'})
link2 = link2['Num_Acc_V']
link2 = link2.to_frame()
link2

           Num_Acc_V
0       201100000001
1       201100000001
2       201100000002
3       201100000002
4       201100000003
...              ...
113849  201100066972
113850  201100066973
113851  201100066973
113852  201100066974
113853  201100066974

[113854 rows x 1 columns]

In [127]:
link = link1.merge( link2, how="outer", left_index=True, right_index=True)
link = link.fillna(0)
link = link.astype(int)
link

           Num_Acc_U     Num_Acc_V
0       201100000001  201100000001
1       201100000001  201100000001
2       201100000002  201100000002
3       201100000002  201100000002
4       201100000003  201100000003
...              ...           ...
148538  201100066973             0
148539  201100066973             0
148540  201100066974             0
148541  201100066974             0
148542  201100066974             0

[148543 rows x 2 columns]

In [128]:
link.to_csv('donneebrute/occupe_2011.csv')